* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #7daede;
}

/* Layout */
.dashboard-container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background-color: #161d23;
    color: rgb(236, 230, 230);
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: rgb(228, 220, 220);
    font-size: 16px;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    color: #18bc9c;
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 20px;
}

header h1 {
    margin-bottom: 20px;
    color: #2c3e50;
}

.content h2 {
    margin-bottom: 15px;
    color: #34495e;
}

/* Leave Request Card */
.card {
    background-color: rgb(207, 208, 224);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card p {
    margin-bottom: 10px;
    color: #333;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    color: rgb(92, 31, 31);
    cursor: pointer;
    font-weight: bold;
}

.approve {
    background-color: #27ae60;
}

.reject {
    background-color: #e74c3c;
}

.approve:hover {
    background-color: #219150;
}

.reject:hover {
    background-color: #c0392b;
}
